/* @group closet images */

.closet-part {
	overflow-x: auto;
	overflow-y: hidden;
	height: 150px;
	width: 400px;
	border: 2px solid #9c979a;
}

#shoes div img {
	height: 100px;
}

.piece-image img{
	float: left;
	height: 140px;
	border: 1px solid #97efd5;
	margin-right: 2px;
	margin-left: 2px;
}



/* @end */

/* @group main functionality */

#closet {
	display: none;
}

#closet-handle {
	background-color: #ff704b;
	height: 100%;
	width: 10px;
}

#closet-handle:hover {
	cursor: pointer;
}

#mannequin {
	text-align: right;
}

#shoes-part {
	height: 120px;;
}

#pants {
	width: 300px;
}

#shirts {
	width: 500px;
}

#shoes {
	width: 600px;
}

#edit_button {
	position: relative;
	left: 100px;
}

.search {
	display: block;
	color: #9b9b9b;
	width: 200px;
	height: 30px;
	font-size: 17px;
}



/* @end */

#instructions img{
	text-align: center;
	height: 550px;
	opacity: 0.50;
}

#fashion{
	display: block;
	background-color: #e8effb;
	width: 500px;
	height: 600px;
}

#fashion-image {
	display: inline;
	float: right;
}

#fashion img {
	text-align: right;
	display: inline;
	margin: 10px;
}

#other-rating {
	text-align: center;
	display: block;
}

#add-to-closet-links {
	display: inline;
}