/* @group closet images */

.closet-part {
	overflow-x: auto;
	overflow-y: hidden;
	height: 150px;
	width: 400px;
	border: 2px solid;
}

#shoes div img {
	height: 100px;
}

.piece-image img{
	float: left;
	height: 140px;
	border: 1px solid #97efd5;
	margin-right: 2px;
	margin-left: 2px;
}



/* @end */

/* @group main functionality */

#shoes-part {
	height: 120px;;
}

#pants {
	width: 300px;
}

#shirts {
	width: 500px;
}

#shoes {
	width: 600px;
}

#dress-button {
	position: relative;
	left: 100px;
}

#rating {
	position: relative;
	left: 100px;
	top: 10px;
}

#edit_button {
	position: relative;
	left: 100px;
}

.search {
	display: block;
	color: #9b9b9b;
	width: 200px;
	height: 30px;
	font-size: 17px;
}



/* @end */

#fashion{
	background-color: #e8effb;
}

#fashion img {
	margin: 10px;
}