<div id="buffer" class="span-8">
	&nbsp;
</div>
<div id="form-container" class="fullpage-form span-8 last">
	<form id="login-form" method="post" accept-charset="utf-8">
		<table border="0" cellspacing="2" cellpadding="2">
			<tr><th>Username</th><td><input type="input" name="username" value="" id="username" /></td></tr>
			<tr><th>Password</th><td><input type="password" name="password" value="" id="password" /></td></tr>
		</table>
		<p><input id="login-button" type="submit" value="Login" /> or <a href="#/user/new">Sign up</a></p>
	</form>
</div>