/* @override http://localhost/~pierrelarochelle/SomethingToWear/sammy/static/style/main.css */

#top-left {
    color: #aaa;
}

#loading {
	text-align: center;
	margin-top: 50px;
}

#loading-message {
	color: #ff704b;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 4em;
    line-height: 1em;
}



#title {
	color: #aaa;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 6em;
    line-height: 1em;
}
#instructions img {
	text-align: center;
	opacity: 0.5;
}

#clothing img{
	height: 520px;
}

#liking img{
	width: 300;
}

.mannequin-canvas-dragging {
    border: 1px solid #97efd5;
}

#mannequin-canvas {
	border-style: dashed;
	border-color: #aaa;
}

#mannequin {
	text-align: center;
	margin-top: 20px;
}

#piece-info-dialog {
	display: block;
}

.dialog {
	position: relative;
	background-color: #fff;
	display: block;
	border: 1px solid #000;
	padding: 10px;
}

#mannequin:hover {
    cursor: pointer;
}

/* @group main functionality */


.ui-dialog-titlebar {
	background-color: #fff;
}

#piece-basic-info {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
}

#piece-original-image {
	position: relative;
	display: block;
	vertical-align: center;
}

#uncut-image {
	position: absolute;
	width: 150px;
}

#piece-url {
	position: relative;
	clear: both;
}



/* @end */

/* @group closet images */

.closet-part {
	overflow-x: auto;
	height: 140px;
	width: 400px;
	border: 2px solid #9c979a;
	margin-bottom: 23px;
}

.piece-image {
    float: left;
	height: 120px;
	border: 1px solid #97efd5;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

.loading-piece {
	float: left;
	padding: 40px;
	border: 1px solid #97efd5;
	margin-right: 2px;
	margin-left: 2px;
}

.highlighted {
	cursor: default;
	background-color: #97efd5;
}

/* @end */

#mannequin:hover {
    cursor: pointer;
}

#main-wrapper {
    position: relative;
    overflow: hidden; /* hide our closet layer */
    min-height: 620px;
}

/* @group Closet */
#closet-layer {
    z-index: 2;
    position: absolute;
    background-color: white;
    right: -420px;
}

#closet-handle {
	background-color: #ff704b;
	height: 600px;
	width: 10px;
}

#closet-handle:hover {
	cursor: pointer;
}

.search {
	color: #9b9b9b;
	width: 400px;
	height: 30px;
	font-size: 17px;
}

.searching {
	width: 350px;
}

.search-icon {
	height: 30px;
}

a {
    text-decoration: underline;
    color: black;
}

html {
    background-color: white;
}

label {
    margin-right: 2em;
}

.piece {
    cursor: move;
}



/* @end */

.fullpage-form {
	text-align: center;
	border: 1px solid #81828f;
	margin-top: 100px;
	padding-top: 20px;
}
/*Overrides error coloring for all element in an error box*/
.error * {
    color: #8A1F11;
}
    
#main-content {}

.nav { 
    background: url("../images/main/nav-sprite.png") no-repeat top left;
    display: block; 
}
.nav-title { cursor: pointer; }

.slight-highlight {
	border-bottom: 1px solid #fd6f4a;
}

#piece-numbers {
	position: absolute;
	top: 350px;
}
