a {
    text-decoration: underline;
    color: black;
}

html {
    background-color: white;
}

#header-info {
    position: relative;
    padding-top: 4em;
}
    #header-nav {
        margin: 0 1em 0 1em;
    }
    
#main-content {}
    #side-nav {
        min-height: 500px;
        position: relative;
    }

    #discover, #rate, #share, 
    #discover-text, #rate-text, #share-text { 
        background: url("../images/main/nav-sprite.png") no-repeat top left;
        display: block; 
    }
    #discover, #rate, #share { cursor: pointer; }
    #discover { background-position: 0 -193px; width: 235px; height: 57px;} 
    #discover:hover, #discover-hover { background-position: 0 0; width: 235px; height: 57px; } 
    #discover-text { background-position: 0 -106px; width: 235px; height: 37px;} 

    #rate { background-position: 0 -476px; width: 235px; height: 44px;} 
    #rate:hover, #rate-hover { background-position: 0 -299px; width: 235px; height: 44px;} 
    #rate-text { background-position: 0 -393px; width: 235px; height: 33px; } 

    #share { background-position: 0 -743px; width: 235px; height: 43px; } 
    #share:hover, #share-hover { background-position: 0 -570px; width: 235px; height: 43px;} 
    #share-text { background-position: 0 -663px; width: 235px; height: 30px;} 

    #side-bottom-nav {
        position: absolute;
        width: 100%;
        margin-left: 20px;
        bottom: 0px;
    }
        #side-bottom-nav  > ul {
            list-style: none;
            margin-left: -40px;
        }
