#title {
	color: #81828f;
	font: 70px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}
#instructions img{
	text-align: center;
	height: 550px;
	opacity: 0.50;
}

#mannequin {
	text-align: right;
}

/* @group main functionality */



/* @end */

/* @group Non-owned */

#fashion-image {
	width: 300px;
	float: left;
	text-align: right;
	margin: 10px;
}

#add-to-closet-links {
	width: 150px;
	float: left;
	text-align: center;
	vertical-align: middle;
}

#other-rating {
	float: left;
	display: block;
	text-align: center;
}

#fashion{
	background-color: #fff;
	border: 3px solid #ff704b;
}



/* @end */

/* @group Add clothes */

#add-clothes {
	background-color: #fff;
	border: 3px solid #ff704b;
}



/* @end */

/* @group Closet */

#closet {
	display: none;
}

#closet-handle {
	background-color: #ff704b;
	height: 600px;
	width: 10px;
}

#closet-handle:hover {
	cursor: pointer;
}

#shoes-part {
	height: 120px;;
}

#pants {
	width: 300px;
}

#shirts {
	width: 500px;
}

#shoes {
	width: 600px;
}

#edit_button {
	position: relative;
	left: 100px;
}

.search {
	display: block;
	color: #9b9b9b;
	width: 200px;
	height: 30px;
	font-size: 17px;
}

/* @group closet images */

.closet-part {
	overflow-x: auto;
	overflow-y: hidden;
	height: 150px;
	width: 400px;
	border: 2px solid #9c979a;
}

#shoes div img {
	height: 100px;
}

.piece-image img{
	float: left;
	height: 140px;
	border: 1px solid #97efd5;
	margin-right: 2px;
	margin-left: 2px;
}



/* @end */



/* @end */